@import "botoes.css";
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed');
/*reset*/
* {
    border: 1px solid red;
}
body{
    padding: 10px;
    background-color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
}


header + main{
    border: 5px solid blue;
}

header ~ main{ /* menos restritivo */
    border: 5px solid blue;
}
